<!DOCTYPE html>
<html>
<head>
	<title> Data </title>
	<header>Mars data</header>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
	<ul>
	
		<li>most recent news: {{data.first_news_title}}</li>
		<li>most recent news teaser body: {{data.first_news_teaser_body}}</li>
		<li><img src="{{data.featured_image}}"></li>
		<li>the weather on Mars is: {{data.weather}}</li>

	
	</ul>
	{{data.facts_table}}
</body>
</html>