circle {
	r: 15;
	fill: blue;
	fill-opacity: .2;



}
.inside-text {
	fill: red;
	fill-opacity: 1.0;
	font-size: 10px;
	font-family: 'sans-serif';	
}
.axis-text {
	fill: red;
	fill-opacity: 1.0;
	font-size: 0px;
	font-family: 'sans-serif';	
}